<!DOCTYPE html>
<html lang="fr">

<head>
    {{ include('partials/base/_meta.html.twig') }}

    <title>{% block title %}Travaux De Salle De Bain{% endblock %}</title>
        
    {{ include('partials/base/_favicons.html.twig') }} 
    {{ include('partials/base/_googlefonts.html.twig') }} 

    {% block stylesheets %}
        {{ include('partials/base/_stylesheets.html.twig') }}    
    {% endblock %}
</head>

<body class="custom-cursor">
    {{ include('partials/base/_custom-cursor-and-preloader.html.twig') }}
    {{ include('partials/base/_sidebar-widget.html.twig') }}
    <div class="page-wrapper">
        {{ include('partials/base/_header.html.twig') }}
        {{ include('partials/base/_stricky-header.html.twig') }}

        {% block body %}{% endblock %}

        <footer class="site-footer-two">
            {{ include('partials/base/_footer.html.twig') }}
        </footer>
    </div>

    {{ include('partials/base/_mobile-nav__wrapper.html.twig') }}
    {{ include('partials/base/_search-popup.html.twig') }}
    {{ include('partials/base/_scroll-to-top.html.twig') }}
    
    {% block javascripts %}
        {{ include('partials/base/_scripts.html.twig') }}
    {% endblock %}
</body>
</html>